# ==========================================
# Midnight Network Preview Configuration
# ==========================================
NEXT_PUBLIC_MIDNIGHT_NETWORK_ID=preview
NEXT_PUBLIC_MIDNIGHT_INDEXER_URL=https://indexer.preview.midnight.network/api/v4/graphql
NEXT_PUBLIC_MIDNIGHT_NODE_URL=https://rpc.preview.midnight.network
NEXT_PUBLIC_MIDNIGHT_PROOF_SERVER_URL=https://api-preview.1am.xyz

# Smart Contract Address
NEXT_PUBLIC_MIDNIGHT_CONTRACT_ADDRESS=b7840834b9d2c13eeb676efa94271ee3e8b28cdab086b8212675d11f965aa8ac
VITE_CONTRACT_ADDRESS=b7840834b9d2c13eeb676efa94271ee3e8b28cdab086b8212675d11f965aa8ac
NEXT_PUBLIC_MIDNIGHT_SEALBID_CONTRACT_ADDRESS=b7840834b9d2c13eeb676efa94271ee3e8b28cdab086b8212675d11f965aa8ac

MIDNIGHT_NETWORK=preview
VITE_MIDNIGHT_NETWORK=preview
